<ion-header [translucent]="true">
  <ion-toolbar mode="ios">
    <ion-title color="danger">Receitas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button color="danger" routerLink="/cadastro">Cadastro</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <img src="https://img.freepik.com/vetores-premium/capa-do-livro-de-receitas-com-tempero-de-utensilios-de-cozinha-desenhados-a-mao-e-letras-em-um-fundo-branco_624018-46.jpg" width="90%">
  </div>

 
</ion-content>
